a:hover{
	background-color: gray;
}
a{
	font-family: Arial;
	color: white;
	background-color: black;
	format: left;
	padding: 20px;
	text-decoration: none;
}
.link{
	border:20px solid black;
	background-color: black;
}
body{
	background-color: white;
	text-align: center;
}
#self{
	width:200px;
	height:200px;
	object-fit: cover;
	border-radius: 500px
}