a:hover{
	background-color: gray;
}
a{
	font-family: Arial;
	color: white;
	background-color: black;
	format: left;
	padding: 20px;
}
.link{
	border:20px solid black;
	background-color: black;
}
body{
	background-color: blue;
	text-align: center;
}
#self{
	width:20%;
	height:20%;
	border-radius: 500px
}